html, body {
  height: 100%;
}

body {
  margin:0;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Form error styles */
label.error {
  font-size: 13px;
  font-style: normal;
  padding-left: 0px;
  color: red;
}

label.error > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* HEADER STYLES */

header h1 {
  margin-top:0;
  font-size: 1.5em;
}

header h1 a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 100%;
}

#wrapper-top {
  padding-top: 20px;
}

#header-logo {
  background-color: #fff;
  border-radius: 0px 0px 50px;
  padding: 10px 10px;
}

#logo-text {
  max-height: 200px;
  max-width: 200px;
}

.header-auth {
  background-color: #000;
  border-radius: 50px 0px 0px;
  padding: 15px 20px;
  color: #fff;
  text-align: right;
  word-spacing:10px;
}

.header-auth a {
  color: #fff;
}

#wrapper-bottom {
  background-color: #000;
}

nav > a {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* BODY STYLES */

#wrapper-body {
  min-height: calc(100vh - 388px);
}


/* FOOTER STYLES */

footer {
  color: #fff;
  background-color: #222;

  max-width: 100%; 
  position: relative;

  padding-top: 10px;
  
  margin-top: 20px;
  /* negative value of footer height */
  height:200px;
  clear: both;
}

footer a {
  color: #fff;
}

footer hr {
  background-color: #292;
  text-align: left;
}

#logo {
  max-height: 80%;
  max-width: 50%;
}

.copyright {  
  background-color: #444;
}


/* INDEX */

#wc-banner {
  width: 100%;
}

#index-logo {
  height: 100%;
  width: 100%;
}






























/* SCHEDULE */

.fixture-list {
  display:flex;
  flex-wrap: wrap;
}

.group-fixtures {
  flex: 1 0 25%;
}

.flag {
  max-width: 20px;
  max-height: 20px;
}

.world-cup-group {
  text-align: left;
  font-size: 14px;
}

.group-fixture-list {
  font-size: 14px;
}

.table-head-row > th {
  margin: 0 8px;
  text-align: left;
}

.toggle-show-stats {
  cursor: pointer;
  max-width:20px;
  max-height:20px;
  color: red;
}

/* FORMS */
.team-name-cell {
  width:25%;
}

.team-flag-cell {
  width:10%;
}

.team-name-cell {
  width:25%;
}

.dash-versus-cell {
  width:6%;
}

.goal-input-cell {
  width:12%;
}

.goal-input-widget {
  text-align: center;
  background-color: #ffffff;
}
