html, body {
  height: 100%;
}

body {
  margin:0;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Form error styles */
label.error {
  font-size: 13px;
  font-style: normal;
  padding-left: 0px;
  color: red;
}

label.error > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* HEADER STYLES */

header h1 {
  margin-top:0;
  font-size: 1.5em;
}

header h1 a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 100%;
}

#wrapper-top {
  padding-top: 20px;
}

#header-logo {
  background-color: #fff;
  border-radius: 0px 0px 50px;
  padding: 10px 10px;
}

#logo-text {
  max-height: 200px;
  max-width: 200px;
}

.header-auth {
  background-color: #000;
  border-radius: 50px 0px 0px;
  padding: 15px 20px;
  color: #fff;
  text-align: right;
  word-spacing:10px;
}

.header-auth a {
  color: #fff;
}

#wrapper-bottom {
  background-color: #000;
}

nav > a {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* BODY STYLES */

#wrapper-body {
  min-height: calc(100vh - 388px);
}


/* FOOTER STYLES */

footer {
  color: #fff;
  background-color: #222;

  max-width: 100%; 
  position: relative;

  padding-top: 10px;
  
  margin-top: 20px;
  /* negative value of footer height */
  height:220px;
  clear: both;
}

footer a {
  color: #fff;
}

footer hr {
  background-color: #292;
  text-align: left;
}

#logo {
  max-height: 80%;
  max-width: 50%;
}

.copyright {  
  background-color: #464646;
  margin-top: 8px;
}


/* INDEX */

#wc-banner {
  width: 100%;
}

#index-logo {
  height: 100%;
  width: 100%;
}

/* PROFILE */

/* Profile image. */
#user-profile-image {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.user-profile:hover #user-profile-image {
  opacity: 0.4;
  background-color:#000;
  transition: opacity 0.5s ease-in-out;
}

/* Profile image. */
.profile-image {
  max-width: 150px;
  min-width: 130px;
  height: 150px;
  float: right;
}

.page-item {
  padding:15px;
}

.page-item-active {
  padding: 0px 8px;
  margin: 14px 7px;
  border:1px #080 solid;
  border-radius: 15%;
}


/* SCHEDULE */

.fixture-list {
  display:flex;
  flex-wrap: wrap;
}

.group-fixtures {
  flex: 1 0 25%;
}

.flag {
  max-width: 20px;
  max-height: 20px;
}

.world-cup-group {
  text-align: left;
  font-size: 14px;
}

.group-fixture-list {
  font-size: 14px;
}

.table-head-row > th {
  margin: 0 8px;
  text-align: left;
}

.toggle-show-stats {
  cursor: pointer;
  max-width:20px;
  max-height:20px;
  color: red;
}


/* FORMS */

.goal-input-widget {
  text-align: center;
  background-color: #fff;
}


/* GRAPHICS */
.points-system {
  background-color: #023d4d;
}

.profile {
  background-color: #464646;  
}

.leaderboards {
  background-color: #464646;  
}

.forums {
  background-color: #464646;  
}

.list-star-bullets {
  list-style-image: url("../img/star.png");
}

.list-star-bullets li {
  margin: 10px 0px;
}

.icon {
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
}

/* LEADERBOARDS */
#create-boards-non-post {
  display: none;
}

.all-boards {
  display: none;
}

.create-lb-pass {
  display: none;  
}

.create-lb-pass-label {
  display: none;  
}

.subscribed-board {
  background-color: #080;
  color: #fff;

}

.subscribed-board a {
  color: white;

}

.board-heading {
  background-color: #000;
  border-radius: 0px 50px 0px 0px;
  color: #fff;
  padding: 10px;
}

.leaderboard-buttons {
  text-align: center;
}

#join-button {
  margin-top: 52px;
  height: 38px;
  width: 160px;
}