{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block title_block %}
    {{ user.username }}'s Predictions
{% endblock %}

{% block body_block %}
    <div class="container mt-1">

        <!-- Predictions Banner  -->
        <div class="profile row mb-3">
            <div class="col-12 my-5 text-center">
                <a href="{% url 'profile' %}">
                    <img src="{% static 'img/soccerates-predictions.png' %}" class="img-fluid" alt="Profile"/>
                </a>
            </div>
        </div>
    
        <!-- Predictions Points Graphic  -->
        <div class="row points-system mb-5">
            <div class="col-8 my-3">
                <img src="{% static 'img/soccerates-points-system.png' %}" class="img-fluid" alt="Points System Graphic"/>
            </div>

            <div class="col-4 my-3 border-left border-white">
                <img src="{% static 'img/soccerates-points-system-combinations.png' %}" class="img-fluid" alt="Point Combinations Graphic"/>
            </div>
        </div>

        {% block main_block %}
         <!-- Main block. -->
        <div class="border-right border-left border-primary mx-0 px-0">
            <div class="scoreline-form col-12 col-lg-8 offset-lg-2">

                <!-- Predictions details and information. -->
                <div class="mb-4" id="form-instructions">
                    <h3 class="text-center font-weight-bold">Score-Form for {{request.user.username}}</h3>
                    <hr />

                    <div class="list-star-bullets m-3">
                        <ul >
                            <li>Click on the buttons below to open the answer form for the relevant stage.</li>
                            <li>The number of points awarded for each prediction is given at the <a href="#top">top of the page</a>.</li>
                            <li><strong>Submission for a fixture will be disabled 15 minutes prior to kick-off.</strong></li>
                        </ul>
                    </div>
                    <hr />
                </div>

                <!-- Button hyperlinks to generate the relevant form. -->
                <div class="btn-group d-none d-md-flex justify-content-around text-center mb-5">
                    <div class="btn-group-vertical col-4">
                        <a href="{% url 'profile' %}" class="create-boards btn btn-danger btn-lg mb-3" type="button" href="{% url 'profile' %}">
                            Group Stage
                        </a>
                        <a href="{% url 'profile' %}" class="create-boards btn btn-info btn-lg" type="button">
                            Semi-Finals
                        </a>
                    </div>

                    <div class="btn-group-vertical col-4">
                        <a href="{% url 'profile' %}" class="create-boards btn btn-warning btn-lg mb-3" type="button">
                            Round of 16
                        </a>
                        <a href="{% url 'profile' %}" class="create-boards btn btn-primary btn-lg" type="button">
                            3rd PPO
                        </a>
                    </div>

                    <div class="btn-group-vertical col-4">
                        <a href="{% url 'profile' %}" class="create-boards btn btn-success btn-lg mb-3" type="button">
                            Quarter-Finals
                        </a>
                        <a href="{% url 'profile' %}" class="create-boards btn btn-dark btn-lg" type="button">
                            Final
                        </a>
                    </div>
                </div>

                <div class="btn-group-vertical col-10 offset-1 d-flex d-md-none justify-content-around text-center mb-5">

                    <a href="{% url 'profile' %}" class="create-boards btn btn-danger btn-lg mb-3" type="button" href="{% url 'profile' %}">
                        Group Stage
                    </a>

                    <a href="{% url 'profile' %}" class="create-boards btn btn-warning btn-lg mb-3" type="button">
                        Round of 16
                    </a>

                    <a href="{% url 'profile' %}" class="create-boards btn btn-success btn-lg mb-3" type="button">
                        Quarter-Finals
                    </a>

                    <a href="{% url 'profile' %}" class="create-boards btn btn-info btn-lg mb-3" type="button">
                        Semi-Finals
                    </a>

                    <a href="{% url 'profile' %}" class="create-boards btn btn-primary btn-lg mb-3" type="button">
                        3rd PPO
                    </a>

                    <a href="{% url 'profile' %}" class="create-boards btn btn-dark btn-lg mb-3" type="button">
                        Final
                    </a>
                </div>
                <!-- End of buttons -->

                <div class="col-10 offset-1 text-center font-weight-light mb-5">
                    Click a button to open the form for your selected stage.
                </div>

            </div>
        </div>
        {% endblock %}

    </div>
{% endblock %}