{% load staticfiles %}
{% load socapp_filters %}

<div class="row mb-3">
{% if not all_boards %}
    {% if private %}
        <div class="col-md-4 board-heading">Private Leaderboards</div>
    {% else %}
        <div class="col-md-4 board-heading">Public Leaderboards</div>
    {% endif %}
    <div class="col-md-8 border-bottom border-secondary"></div>
{% endif %}
</div>   


<table class="table">
    <colgroup>
        <col class="board-name-cell">
        <col class="current-rank-cell">
        {% if not short %}
            <col class="free-spaces-cell">
        {% endif %}
    </colgroup>

    <thead class="thead-dark">
        <tr>
            <th>Leaderboard</th>
            {% if all_boards %}
                <th class="text-left">Accessibility</th>
            {% else %}
                <th class="text-right">Current Rank</th>            
            {% endif %}    
            {% if not short %}
            <th class="text-right">Spaces</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if leaderboards %}
            {% for leaderboard in leaderboards %}
                {% if leaderboard.name in user_leaderboard_set and all_boards%}
                    <tr class="subscribed-board">
                {% else %}
                    <tr >
                {% endif %}
                <td> 
                    <a href="{% url 'show_leaderboard' leaderboard.slug %}">{{ leaderboard.name }}</a>
                </td>
                {% if all_boards %}
                    <td class="text-left">{{ leaderboard.get_is_private_display }} </td>
                {% else %}
                    <td class="text-right">{{ leaderboard|get_user_leaderboard_position:user }} </td>
                {% endif %}    
                {% if not short %}
                <td class="text-right">{{ leaderboard|get_free_spaces }} </td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
            {% if all_boards  %}
                    <td colspan="12">No leaderboards found.</td>
            {% else %}
                {% if private %}
                    <td colspan="12">You're currently not a member of any private leaderboards.</td>
                {% else %}
                    <td colspan="12">You're currently not a member of any public leaderboards.</td>
                {% endif %}
            {% endif %}
            </tr>               
        {% endif %}
    </tbody>
</table>

<!-- Require pagination when displaying all leaderboards. -->
{% if all_boards %}
    <!-- Code taken from https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html -->

    {% if leaderboards.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if leaderboards.has_previous %}
                <li class="page-item">
                    <a href="?page={{ leaderboards.previous_page_number }}" class="link-pagination">
                        <img src="{% static 'img/pages_prev.png' %}" alt="&laquo;">
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span>
                    <img src="{% static 'img/pages_prev.png' %}" alt="&laquo;">
                </span></li>
            {% endif %}

            {% for i in leaderboards.paginator.page_range %}
                {% if leaderboards.number == i %}
                    <li class="page-item-active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="link-pagination">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if leaderboards.has_next %}
                <li class="page-item">
                    <a href="?page={{ leaderboards.next_page_number }}" class="link-pagination">
                        <img src="{% static 'img/pages_next.png' %}" alt="&raquo;">
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span>
                    <img src="{% static 'img/pages_next.png' %}" alt="&raquo;">
                </span></li>
            {% endif %}
        </ul>
    {% endif %}

    <div class="text-center mb-3">
        <label>Know what you're looking for?</label><br/>
        <div class="d-flex justify-content-center align-items-center">
            <input id="board-searchbox" class="ml-2 form-control-sm" type="text" name="search_box" placeholder="Leaderboard name..." >        
            <button id="board-searchbtn" class="btn btn-primary btn-sm ml-1">Search</button>
            <button id="clearsearch" class="btn btn-danger btn-sm ml-2">Clear search</button>
        </div>
    </div>
{% endif %}