{% load staticfiles %}
{% load socapp_filters %}

<h4 class="m-2 text-left">Group {{group}}</h4>
<table class="table table-striped table-hover mb-3 world-cup-group border-bottom">
    <thead class="group-table-header thead-light">
        <tr class="table-head-row">
            <th scope="col">Country</th>
            {% if not short %}
                <th>W</th><th>D</th><th>L</th>
            {% endif %}
            <th>GD</th>
            <th>Pts</th>
        </tr>
    </thead>
    <tbody>
        <!-- table -->
        {% for team in fixture_list|getDistinctTeamsOrderedByPoints %}
        <tr>
            <td>
                <img src="{% static team.flag.url %}" class="flag mr-1" alt="{{team.name}}"/>
                {{ team.name }}
            </td>
            {% if not short %}
                <td>{{ team.games_won }}</td>
                <td>{{ team.games_drawn }}</td>
                <td>{{ team.games_lost }}</td>
            {% endif %}
            <td>{{ team.goal_difference }}</td>
            <td>{{ team.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>