{% load staticfiles %}
{% load socapp_filters %}

{% if group %}
<h4 class="m-2 text-left">Group {{group}}</h4>
<table class="table table-striped table-hover mb-3 world-cup-group border-bottom">

    <thead class="group-table-header thead-dark">
        <tr class="table-head-row">
            <th>Team</th>
            <th class="text-right">P</th>
            {% if not short %}
                <th class="text-right">W</th>
                <th class="text-right">D</th>
                <th class="text-right">L</th>
                <th class="text-right">GF</th>
                <th class="text-right">GA</th>
            {% else %}
                <th class="text-right">GD</th>
            {% endif %}
            <th class="text-right">Pts</th>
        </tr>
    </thead>
    <tbody>
        <!-- table -->
        {% for team in fixture_list|getDistinctTeamsOrderedByPoints %}
        <tr>
            {% if short %}
            <td class="group-team-name-cell-short">
            {% else %}
            <td class="group-team-name-cell">
            {% endif %}
                {% if is_international %}
                <img src="{% static team.flag.url %}" class="flag mr-1" alt="{{team.name}}"/>
                {% endif %}
                {{ team.name }}
            </td>
            <td class="group-team-data-cell text-right">
                {{ team|getGroupGamesPlayed }}
            </td>

            {% if not short %}
                <td class="group-team-data-cell text-right">{{ team.group_won }}</td>
                <td class="group-team-data-cell text-right">{{ team.group_drawn }}</td>
                <td class="group-team-data-cell text-right">{{ team.group_lost }}</td>
                <td class="group-team-data-cell text-right">{{ team.group_goals_for }}</td>
                <td class="group-team-data-cell text-right">{{ team.group_goals_against }}</td>
            {% else %}
                <td class="group-team-data-cell text-right">{{ team.goal_difference }}</td>
            {% endif %}

            <td class="group-team-points-cell text-right">{{ team.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}