{% load staticfiles %}
{% load socapp_filters %}

<h4 class="m-2 text-left">Group {{group}}</h4>
<table class="table table-striped table-hover mb-3 world-cup-group border-bottom">

    <colgroup>
    {% if short %}
        <col class="short-team-group-name-cell">
        <col class="short-team-group-stats-cell">
        <col class="short-team-group-stats-cell">
        <col class="short-team-group-points-cell text-right">
    {% else %}
        <col class="team-group-name-cell">
        <col class="team-group-stats-cell">
        <col class="team-group-stats-cell">
        <col class="team-group-stats-cell">
        <col class="team-group-stats-cell">
        <col class="team-group-stats-cell">
        <col class="team-group-points-cell">
    {% endif %}
    </colgroup>


    <thead class="group-table-header thead-light">
        <tr class="table-head-row">
            <th>Country</th>
            <th>P</th>
            {% if not short %}
                <th>W</th><th>D</th><th>L</th>
            {% endif %}
            <th class="text-right">GD</th>
            <th class="text-right">Pts</th>
        </tr>
    </thead>
    <tbody>
        <!-- table -->
        {% for team in fixture_list|getDistinctTeamsOrderedByPoints %}
        <tr>
            <td>
                <img src="{% static team.flag.url %}" class="flag mr-1" alt="{{team.name}}"/>
                {{ team.name }}
            </td>
            <td>
                {{ team|getGroupGamesPlayed }}
            </td>
            {% if not short %}
                <td>{{ team.games_won }}</td>
                <td>{{ team.games_drawn }}</td>
                <td>{{ team.games_lost }}</td>
            {% endif %}
            <td class="text-right">{{ team.goal_difference }}</td>
            <td class="text-right">{{ team.points }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>