{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block body_block %}
    <div class="container mt-0">
        
        <!-- Banner -->
        <div class="row mb-3">
            <div class="col-12 px-0">
                <a href="{% url 'wc_schedule' %}">
                    <img src="{% static 'img/world-cup-2018-banner.png' %}" id="wc-banner" alt="Russia 2018 World Cup"/>
                </a>
            </div>
        </div>

        <!-- Opening Conotent -->
        <div class="row mb-3">
            <div class="col-12 col-lg-8 mb-3">
                <div class="col-md-10 offset-md-1">
                    <h2 class="text-center my-3">
                        <img src="{% static 'img/soccerates-text.png' %}" height="55px" class="border-top border-bottom border-secondary py-2" alt="Soccerates"/>
                    </h2>

                    {% if user.is_authenticated %}
                        <h4 class="my-4">Welcome, {{ user.username }}, to Soccerates: the online football score-prediction app!</h4>
                        <p>
                            The 2018 FIFA World Cup will be starting soon, so it's time to <a href="{% url 'answer_form' %}">get your predictions in</a>. You can also <a href="{% url 'leaderboards' %}">join or create leaderboards</a> to compete against your friends.
                        </p>
                    {% else %}
                        <h4 class="my-4">Welcome to Soccerates: the online football score-prediction app!</h4>
                        <p class="text-center">
                            <a href="{% url 'login' %}">Click here</a> to sign in, or <a href="{% url 'register' %}">click here</a> to register.
                        </p>
                    {% endif %}
                    
                    {% comment %}<a href="{% url 'test' %}">Test page.</a>{% endcomment %}
                </div>
            </div>
            
            <!-- User Summary -->
            <div class="col-12 col-lg-4 border-left"> 
                {% if user.is_authenticated %}
                    <h4 class="text-right font-weight-bold pb-1 mb-3 border-bottom border-secondary">{{ request.user.username }}</h4>

                    <div class="row">
                        <div class="col-7">
                            <div class="list-star-bullets">
                                <ul>
                                    <li><strong>{{ user.profile.points }} points.</strong></li>
                                    <li><strong>#{{ ranking }}</strong>/{{ usercount }} users.</li>
                                    <li><strong>{{ points_percentage }}</strong> Pts/Fxt.</li>
                                </ul>
                            </div>
                            <a href="{% url 'profile' %}" class="col-8 offset-1 col-md-6 col-lg-8 offset-lg-1  btn btn-outline-primary btn-sm btn-block text-uppercase mb-5">
                                View Profile
                            </a>
                        </div>

                        <div class="col-5">
                            {% if user.profile.picture %}
                                <img src="{{ MEDIA_URL }}{{ user.profile.picture }}" class="profile-image rounded img-fluid" alt="Profile" />
                            {% else %}
                                <img src="{% static 'img/soccerates-blank-profile.png' %}" class="profile-image rounded img-fluid" alt="Profile"/>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <img src="{% static 'img/soccerates.png' %}" id="index-logo" alt="Soccerates"/>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Button to request Predictions page -->
        <div class="row mb-5 border-bottom border-info">
        {% if user.is_authenticated %}
            <a href="{% url 'answer_form' %}" class="col-10 offset-1 btn btn-primary btn btn-block text-uppercase mb-5">
                Enter Predictions
            </a>
        {% endif %}
        </div>

        <div class="row">
            
            <!-- Upcoming Fixtures and Results block -->
            <div class="col-12 col-lg-7 mb-5">

                <div class="card mb-3"> <!-- Display upcoming fixtures -->
                    <h5 class="card-header bg-dark text-white text-center text-uppercase">Upcoming Fixtures</h5>
                    {% include 'include_fixtures.html' with fixtures=upcoming_fixtures %} 
                </div>
                <div class="card mb-3"> <!-- Display recent results -->
                    <h5 class="card-header bg-dark text-white text-center text-uppercase">Results</h5>
                    {% include 'include_fixtures.html' with fixtures=past_fixtures %} 
                </div>
                <div class="mb-3">
                    <a href="{% url 'wc_schedule' %}" class="btn btn-outline-secondary btn-sm btn-block text-uppercase">
                        Full schedule...                    
                    </a>
                </div>

            </div>

            <!-- Current Standings block -->
            <div class="col-12 col-lg-5 border-left border-info">
                <div>
                    <h4 class="card-header bg-dark text-white text-center text-uppercase mb-3">Current Standings</h4>

                    <div>
                        <!-- Nav tabs for each group -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                            <li class="nav-item text-uppercase">
                            <a class="nav-link disabled" id="group-{{ group }}-tab" data-toggle="tab" href="#group-{{ group }}" role="tab" aria-controls="group-{{ group }}" aria-selected="true">
                                Group:
                            </a>
                        </li>

                            {% for group,_ in fixtures.items %}
                                {% if forloop.first %} 
                                    <li class="nav-item">
                                        <a class="nav-link active" id="group-{{ group }}-tab" data-toggle="tab" href="#group-{{ group }}" role="tab" aria-controls="group-{{ group }}" aria-selected="true">
                                            {{ group }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="group-{{ group }}-tab" data-toggle="tab" href="#group-{{ group }}" role="tab" aria-controls="group-{{ group }}" aria-selected="false">
                                            {{ group }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        {% for group, fixture_list in fixtures.items %}

                            <!-- Display management form on the first iteration, and create first group's table -->
                            {% if forloop.first %}
                                <div class="tab-pane fade show active" id="group-{{ group }}" role="tabpanel" aria-labelledby="group-{{ group }}-tab">
                                    {% include 'include_groups.html' with group=group fixture_list=fixture_list short=True %}
                                    {% include 'include_fixtures.html' with fixtures=fixture_list short=True %}
                                </div>
                            {% else %}
                                <div class="tab-pane fade" id="group-{{ group }}" role="tabpanel" aria-labelledby="group-{{ group }}-tab">
                                    {% include 'include_groups.html' with group=group fixture_list=fixture_list short=True %}
                                    {% include 'include_fixtures.html' with fixtures=fixture_list short=True %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            
                </div>

            </div>
        </div>
    </div>
{% endblock %} 