{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block body_block %}
    <div class="container mt-1">

        <div class="leaderboards row mb-5">
            <div class="col-12 my-5 text-center">
                <a href="{% url 'leaderboards' %}">
                    <img src="{% static 'img/soccerates-leaderboards.png' %}" class="img-fluid" alt="Leaderboards"/>
                </a>
            </div>
        </div>
        
        <div class="border-right border-left border-primary mx-0 px-0">
            <div class="col-12 col-md-8 offset-md-2 ">

                <!-- Leaderboards Information -->
                <div class="mb-4" id="form-instructions">
                    <h4 class="text-center font-weight-light">Manage your leaderboards below.</h4>
                    <hr />

                    <div class="list-star-bullets mb-5">
                        <ul >
                            <li>
                                To join a leaderboard, click the 'Show Leaderboards' button below. This will display a table of all the leaderboards in the system. Click on a leaderboard to be taken to its main page, where you will be able to join/leave the leaderboard in question.
                            </li>
                            <li>
                                In the 'Show Leaderboards' list, leaderboards you are already subscribed to are highlighted in green.
                            </li>
                            <li>
                                Private leaderboards will require a password for other users to view and join, so keep it handy for sharing in the future.
                            </li>
                            <li>
                                To create a leaderboard, click the 'Create Leaderboard' button below. This will take you to a new page where you can fill in the details of your desired board.
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row justify-content-around text-center mb-3">
                        <div class="col-md-5">
                            <button id="join-boards" class="btn btn-dark btn-lg" type="button">
                                Show Leaderboards
                            </button>
                        </div>
                        <div class="col-md-5">
                            <button id="create-boards" class="btn btn-primary btn-lg" type="button">
                                Create Leaderboard
                            </button>
                        </div>
                    </div>
                    <hr />

                </div>

                <!-- Create Leaderboards Form -->
                {% if leaderboard_post %}
                <div class="create-boards pb-3 my-3">
                {% else %}
                <div id="create-boards-non-post" class="create-boards pb-3 my-3">
                {% endif %}
                    {% include 'create_leaderboard.html' %} 
                    <hr />
                </div>   

                <!-- All Leaderboards -->
                <div class="all-boards pb-3 my-3">
                    {% include 'include_leaderboards.html' with leaderboards=all_lb_subset all_boards=True %} 
                    <hr />
                </div>

                <!-- Public Leaderboards -->
                <div class="pb-3 my-3">
                    {% include 'include_leaderboards.html' with leaderboards=public_lb %} 
                </div>

                <!-- Private Leaderboards -->                
                <div class="pb-3 my-3">
                    {% include 'include_leaderboards.html' with leaderboards=private_lb private=True %} 
                </div>

            </div>
        </div>

    </div>
{% endblock %}