{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block title_block %}
    Leaderboards
{% endblock %}

{% block body_block %}
    <div class="container mt-1">

        <div class="leaderboards row mb-5">
            <div class="col-12 my-5 text-center">
                <a href="{% url 'leaderboards' %}">
                    <img src="{% static 'img/soccerates-leaderboards.png' %}" class="img-fluid" alt="Leaderboards"/>
                </a>
            </div>
        </div>

        {% if messages %}
        <div class="alert alert-danger col-10 col-sm-8 col-md-6 mx-auto mb-4 text-center">
            {% for message in messages %}
            <strong class="ml-2">{{ message }}</strong>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="border-right border-left border-primary mx-0 px-0">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 px-3">

                <!-- Leaderboards Information -->
                <div class="mb-4" id="form-instructions">
                    <div class="d-flex justify-content-between">
                        <h4 class="text-center font-weight-light">Manage your leaderboards below.</h4>
                        <span class="pointer" data-toggle="modal" data-target="#leaderboardInfoModal">
                            <img src="{% static 'img/info.png' %}" alt="" class="icon">
                        </span>
                    </div>
                    <hr />
                    
                    <!-- Buttons for showing the create board form and show all leaderboards. -->
                    <div class="d-none d-md-flex justify-content-around text-center mb-3">
                        <div class="col-5">
                            <button class="join-boards btn btn-dark btn-lg" type="button">
                                All Leaderboards
                            </button>
                        </div>
                        <div class="col-5">
                            <button class="create-boards btn btn-primary btn-lg" type="button">
                                Create Leaderboard
                            </button>
                        </div>
                    </div>

                    <div class="d-block d-md-none text-center">
                        <button class="create-boards btn btn-primary btn-lg" type="button">
                            Create Leaderboard
                        </button>
                    </div>
                    <hr class="d-none d-md-block"/>

                </div>

                <!-- Create Leaderboards Form -->
                {% if leaderboard_post %}
                <div class="create-boards-show pb-3 my-3">
                {% else %}
                <div id="create-boards-non-post" class="create-boards-show pb-3 my-3">
                {% endif %}
                    {% include 'create_leaderboard.html' %} 
                    <hr />
                </div>   

                <!-- All Leaderboards -->
                <div class="d-block d-md-none text-center">
                    <button id="" class="join-boards btn btn-dark btn-lg" type="button">
                        All Leaderboards
                    </button>
                </div>
                <div class="all-boards pb-3 my-3">
                    {% include 'include_leaderboards.html' with leaderboards=all_lb_subset all_boards=True %} 
                    <hr />
                </div>
                <hr class="d-block d-md-none"/>

                <!-- Public Leaderboards -->
                <div class="pb-3 my-3">
                    {% include 'include_leaderboards.html' with leaderboards=public_lb %} 
                </div>

                <!-- Private Leaderboards -->                
                <div class="pb-3 my-3">
                    {% include 'include_leaderboards.html' with leaderboards=private_lb private=True %} 
                </div>

                <!-- Universal Leaderboards -->
                <div class="pb-3 my-3">
                    {% include 'include_leaderboards.html' with universal=True short=True %} 
                </div>

            </div>
        </div>

    </div>


<div class="modal fade" tabindex="-1" role="dialog" id="leaderboardInfoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leaderboard Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-star-bullets mb-5">
                    <ul >
                        <li>
                            To join a leaderboard, click the 'All Leaderboards' button below. This will display a table of all the leaderboards in the system. Click on a leaderboard to be taken to its main page, where you will be able to join/leave the leaderboard in question.
                        </li>
                        <li>
                            In the 'All Leaderboards' list, leaderboards you are already subscribed to are highlighted in green.
                        </li>
                        <li>
                            Private leaderboards will require a password for other users to join, so keep it handy for sharing in the future.
                        </li>
                        <li>
                            To create a leaderboard, click the 'Create Leaderboard' button below. This will display a form for you to fill in the details of your desired board.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}