{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block title_block %}
    Private Leaderboard: Access Denied
{% endblock %}

{% block body_block %}
<div class="container mt-1">

    <div class="leaderboards row mb-5">
        <div class="col-12 my-5 text-center">
            <a href="{% url 'leaderboards' %}">
                <img src="{% static 'img/soccerates-leaderboards.png' %}" class="img-fluid" alt="Leaderboards"/>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 my-5 text-center">
            <a href="{% url 'leaderboards' %}">
                <img src="{% static 'img/soccerates-access-blocked.png' %}" class="img-fluid" alt="Leaderboards"/>
            </a>
        </div>
    </div>


    <!-- Display Leaderboard Form -->
    <div class="row mx-0 px-0">
        <div class="col-12 col-md-8 offset-md-2">
            <hr/>
            <h4 class="text-center mt-5">This is a private leaderboard.</h4>
            <h5 class="text-center"> To view or join the board, please enter the password below.</h5>

            <form class="mb-5" id="leaderboard_form" method="post" action="{% url 'show_leaderboard' leaderboard.slug %}">
                {% csrf_token %}

            {% comment %} !!! Put the password field here. Currently copied from create_leaderboard.html
                {% if leaderboard_form.errors %}
                    {% for field in leaderboard_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in leaderboard_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% for field in leaderboard_form %}
                    <div class="form-group row">
                        {{ field.label_tag}} 
                        {{ field|add_class:"form-control" }}
                    </div>
                {% endfor %}
            {% endcomment %}

                <input class="btn btn-primary col-md-6 offset-md-3" id="access-leaderboard" type="submit" name="submit" value="Submit Password" />
            </form>

        </div>
    </div>


</div>
{% endblock %}
