{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block title_block %}
    {% if global_leaderboard %}
        Leaderboard: Gaia
    {% else %}
        Leaderboard: {{ leaderboard.name }}
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="container mt-1">

        <!-- Banner image -->
        <div class="leaderboards row mb-5">
            <div class="col-12 my-5 text-center">
                <a href="{% url 'leaderboards' %}">
                    <img src="{% static 'img/soccerates-leaderboards.png' %}" class="img-fluid" alt="Leaderboards"/>
                </a>
            </div>
        </div>
        
        <!-- Leaderboard main content -->
        <div class="board-content col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 ">
            
            <!-- Title and board statistics.  -->
            <div class="leaderboard-stats mb-5">
                <h3 class="text-center font-weight-light">
                    {% if global_leaderboard %}
                        Gaia Leaderboard
                    {% else %}
                        {{ leaderboard.name }}
                    {% endif %}
                </h3>
                <hr />

                <div class="list-star-bullets m-3">
                    <ul >
                        <li><strong>Click on other users to view their profile.</strong></li>
                        <li>The total points obtained by 
                            {% if global_leaderboard %} all users 
                            {% else %} the members of this board 
                            {% endif %} is 
                            <strong>{{ total_points }}</strong>.
                        </li>
                        <li>That's an average of <strong>{{ average_points|floatformat:2 }}</strong> points per user.</li>
                        <li><strong>{{ percent_above_average|floatformat:1 }}%</strong> of users are equal to or above that average score.</li>
                        
                        {% if best_users %}
                            <li>Today's best performer(s): <strong>{{ best_users|split_users }}</strong> with {{ best_points }} points</li>
                        {% endif %}
                    </ul>
                </div>
                <hr />
            </div>

            <!-- Leaderboard table  -->
            <div class="leaderboard-table">
                <table class="table table-striped table-bordered">
                    <thead class="group-table-header thead-dark">
                        <tr class="table-head-row">
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for member in members %}
                            {% if member == user %}
                                <tr class="bg-info text-white">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td class="board-data-cell">{{ forloop.counter }}</td>
                                <td class="board-name-cell">
                                    <a href="{% url 'other_user_profile' member.username %}">
                                        {% if member.profile.picture %}
                                            <img src="{{ MEDIA_URL }}{{ member.profile.picture }}" class="rounded mr-3" height="25" width="25" alt="Profile" />
                                        {% else %}
                                            <img src="{% static 'img/soccerates-blank-profile.png' %}" class="rounded mr-3" height="25" width="25" alt="Profile"/>
                                        {% endif %}
                                        <strong>{{ member.username }}</strong>
                                    </a>
                                </td>
                                <td class="board-data-cell">{{ member.profile.points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <!-- Leaderboard buttons. Uses ajax to reload join/leave functionality. Only if not the global leaderboard! -->
            {% if not global_leaderboard %}
            <div class="leaderboard-buttons mb-5">
                {% if user in members %}
                    <button class="btn btn-danger" type="button" id="leave-button" data-leaderboard="{{ leaderboard.name }}"
                    data-csrf_token="{{ csrf_token }}" data-url_redirect="{% url 'profile' %}" >
                        Leave Leaderboard
                    </button>
                {% else %}
                    <button class="btn btn-success" type="button" id="join-button" data-leaderboard="{{ leaderboard.name }}"
                    data-csrf_token="{{ csrf_token }}" >
                        Join Leaderboard
                    </button>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}