{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="container my-4">
        
        {% if user.is_authenticated %}
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-success">Welcome, {{ user.username }}</h3>
                <button id="viewstats-link" class="btn btn-success d-none">View Statistics</a>
            </div>
        </div>
        <hr/>

        <h4>{{ user.username }}'s statistics</h4>
        <ul>
            <li class="p-1">You currently have <strong>{{ user.profile.points }} points.</strong></li>
            <li class="p-1">You are currently ranked <strong>#{{ ranking }}</strong> out of {{ usercount }} users.</li>
        </ul>
        <div class="row mt-5">
            <div class="user-predictions col-12 col-sm-6 text-center">
                <div class="card">
                    <h4 class="card-header">Predictions</h4>
                    {% if answers %}
                    <div class="card-body">
                    <table class="table table-striped table-hover table-sm">
                        <tbody>
                        {% for answer in answers %}
                            <tr>
                                <td>
                                    {{ answer.fixture.team1.name }}
                                    <img class="flag ml-2" src="{% static answer.fixture.team1.flag.url %}" alt="{{answer.fixture.team1.name}}">
                                </td>
                                <td>{{ answer.team1_goals }}</td>
                                <td> - </td>
                                <td>{{ answer.team2_goals }}</td>
                                <td>
                                    <img class="flag mr-2" src="{% static answer.fixture.team2.flag.url %}" alt="{{answer.fixture.team2.name}}">
                                    {{ answer.fixture.team2.name }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% else %}
                    No answers
                {% endif %}
                </div>
            </div>
            <div class="leaderboards col-12 col-sm-6 text-center">
                <h4 class="mb-3">Leaderboards</h4>
                {% if leaderboards %}
                    DUMMYDATA
                {% else %}
                    <p>You are not currently a member of any leaderboards.</p>
                    <p>
                        <a href="#" class="my-2">Join a leaderboard</a>
                    </p>
                    <p>
                        <a href="#" class="my-3">Create leaderboard</a>
                    </p>
                {% endif %}
            </div>    
        </div>

        {% else %}
            <p>Welcome.</p>
            <a href="{% url 'login' %}">Click here</a> to sign in, or 
            <a href="{% url 'register' %}">click here</a> to register</p>
        {% endif %}
    </div>
{% endblock %}