{% extends 'base.html' %}
{% load staticfiles %}
{% load socapp_filters %}

{% block title_block %}
    World Cup Schedule
{% endblock %}

{% block body_block %}
    <div class="container mt-0">

        <div class="row border-bottom border-primary">
            <div class="col-12 px-0">
                <a href="{% url 'wc_schedule' %}">
                    <img src="{% static 'img/world-cup-2018-banner.png' %}" id="wc-banner" alt="Russia 2018 World Cup"/>
                </a>
                <hr />
            </div>
            
            <div class="">
                <h3>Russia 2018 FIFA World Cup: Group Stage</h3>
            </div>
        </div>


        <main>
            {% for group, fixture_list in fixtures.items %}
            <div class="row mt-3">
                <div class="col-12 col-lg-10 col-xl-8 pl-0">
                    {% include 'include_groups.html' with group=group fixture_list=fixture_list short=False %}
                </div>
                <div class="col-5">
                    
                </div>
            </div>
            <div class="row mt-3 border-bottom border-primary">
                <div class="col-12">
                    {% include 'include_fixtures.html' with fixtures=fixture_list %}
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}